body {
    background-color: bisque;
    
}

#work {
    font-size: 100px;
    text-align: center;
   

}
p{
    text-align: center;
}
button{
    border-width: 10px;
    border-radius: 4px;
    border-color: seashell;
    margin: 20px;
}
.dic{
    text-align: center;
    text-size-adjust: 20px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 100px;

 }